{% extends 'generator/base.html' %}
{% block content %}


    <h3>Password Generator</h3> 

    <form action="password">
    <select name ="length">
        <option value='6'>6</option>
        <option value='12'>12</option>
        <option value='16'>16</option>
        <option value='24'>24</option>
    </select>  
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="uppercase">
        <label class="form-check-label">
          UpperCase
        </label>
          <br>
        <input class="form-check-input" type="checkbox" name="numbers">
        <label class="form-check-label">
          Numbers
        </label>
          <br>
        <input class="form-check-input" type="checkbox" name="special">
        <label class="form-check-label">
          Special
        </label>
      </div>
    
      <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Gerneate Password</button>
        </div>
        </div>
    </form>
{% endblock %}
